<form
  class="form"
  [formGroup]="form"
  (submit)="onSubmit()"
>
  <div class="form__wrapper">
    <mat-form-field
      class="form__field"
    >
      <mat-label>email</mat-label>
      <input 
        type="text"
        matInput
        formControlName="email"
      >
      <mat-error
        *ngIf="email.hasError('required')"
      >
        {{email.errors?.['required']}}
      </mat-error>
      <mat-error
        *ngIf="email.hasError('email')"
      >
        {{email.errors?.['emmail']}}
      </mat-error>
    </mat-form-field>
    <mat-form-field
      class="form__field"
    >
      <mat-label>Пароль</mat-label>
      <input
        matInput
        formControlName="password"
        showPassword
      >
      <mat-error
        *ngIf="password.hasError('required')"
      >
        {{password.errors?.['required']}}
      </mat-error>
    </mat-form-field>
    <mat-form-field class="form__field">
      <mat-label>Имя</mat-label>
      <input
        type="text"
        matInput
        formControlName="firstName"
      >
      <mat-error
        *ngIf="firstName.hasError('required')"
      >
        {{firstName.errors?.['required']}}
      </mat-error>
    </mat-form-field>
    <mat-form-field class="form__field">
      <mat-label>Фамилия</mat-label>
      <input 
        matInput
        formControlName="lastName"
      >
      <mat-error
        *ngIf="lastName.hasError('required')"
      >
        {{lastName.errors?.['required']}}
      </mat-error>
    </mat-form-field>
    <mat-form-field class="form__field">
      <mat-label>Отчество</mat-label>
      <input 
        matInput
        formControlName="patronymic"
      >
      <mat-error
        *ngIf="patronymic.hasError('required')"
      >
        {{patronymic.errors?.['required']}}
      </mat-error>
    </mat-form-field>
    <mat-form-field class="form__field">
      <mat-label>Роль</mat-label>
      <mat-select formControlName="role">
        <mat-option 
          *ngFor="let item of rolesData.list" 
          [value]="item.value"
        >
          {{item.name}}
        </mat-option>
      </mat-select>
      <mat-error
        *ngIf="role.hasError('required')"
      >
        {{role.errors?.['required']}}
      </mat-error>
    </mat-form-field>
  </div>
  <ng-container
    [ngSwitch]="role.value"
  >
    <ng-container *ngSwitchCase="'pupil'">
      <app-form-user-class
        class="form__sub"
        formControlName="class"
        [touched]="class.touched"
      ></app-form-user-class>
      <app-form-list>
        <ng-container formArrayName="lessons">
          <app-form-user-lesson
            *ngFor="let item of lessons['controls']; let i = index"
            formControlName="{{i}}"
            [touched]="item!.touched"
          ></app-form-user-lesson>
        </ng-container>
      </app-form-list>
    </ng-container>
    <ng-container *ngSwitchCase="'teacher'">
      <div class="form__wrapper">
        <mat-form-field
          class="form__field"
        >
          <mat-label>Преподаваемый предмет</mat-label>
          <mat-select
            formControlName="teachLesson"
          >
            <mat-option
              *ngFor="let item of lessonsData.list"
              [value]="item.value"
            >
              {{item.name}}
            </mat-option>
          </mat-select>
          <mat-error
            *ngIf="teachLesson.hasError('required')"
          >
            {{teachLesson.errors?.['required']}}
          </mat-error>
        </mat-form-field>
      </div>
    </ng-container>
  </ng-container>
  <div class="form__wrapper">
    <div class="form__submit">
      <ng-content select="button"></ng-content>
    </div>
  </div>
</form>