<form
  class="form"
  [formGroup]="form"
  (submit)="onSubmit()"
>
  <div class="form__wrapper">
    <mat-form-field
      class="form__field"
    >
      <mat-label>email</mat-label>
      <input 
        type="text"
        matInput
        formControlName="email"
      >
      <mat-error
        *ngIf="form.get('email')?.hasError('required')"
      >
        Обязательное поле
      </mat-error>
    </mat-form-field>
    <mat-form-field
      class="form__field"
    >
      <mat-label>Пароль</mat-label>
      <input 
        type="text"
        matInput
        formControlName="password"
      >
      <mat-error
        *ngIf="form.get('password')?.hasError('required')"
      >
        Обязательное поле
      </mat-error>
    </mat-form-field>
    <mat-form-field class="form__field">
      <mat-label>Имя</mat-label>
      <input
        type="text"
        matInput
        formControlName="firstName"
      >
      <mat-error
        *ngIf="form.get('firstName')?.hasError('required')"
      >
        Обязательное поле
      </mat-error>
    </mat-form-field>
    <mat-form-field class="form__field">
      <mat-label>Фамилия</mat-label>
      <input 
        matInput
        formControlName="lastName"
      >
      <mat-error
        *ngIf="form.get('lastName')?.hasError('required')"
      >
        Обязательное поле
      </mat-error>
    </mat-form-field>
    <mat-form-field class="form__field">
      <mat-label>Отчество</mat-label>
      <input 
        matInput
        formControlName="patronymic"
      >
      <mat-error
        *ngIf="form.get('patronymic')?.hasError('required')"
      >
        Обязательное поле
      </mat-error>
    </mat-form-field>
    <mat-form-field class="form__field">
      <mat-label>Роль</mat-label>
      <mat-select formControlName="role">
        <mat-option 
          *ngFor="let item of roles" 
          [value]="item.value"
        >
          {{item.name}}
        </mat-option>
      </mat-select>
      <mat-error
        *ngIf="form.get('role')?.hasError('required')"
      >
        Обязательное поле
      </mat-error>
    </mat-form-field>
  </div>
  <ng-container *ngIf="form.get('role')?.value === 'pupil'">
    <app-form-user-class
      class="form__sub"
      formControlName="class"
      [touched]="form.get('class')!.touched"
    ></app-form-user-class>
  </ng-container>
  <div class="form__wrapper">
    <div class="form__submit">
      <ng-content select="button"></ng-content>
    </div>
  </div>
</form>