<h1 class="title-page">Пожалуйста, авторизуйтесь</h1>
<form
  class="form"
  [formGroup]="form"
  (submit)="onSubmit()"
>
  <div class="form__wrapper">
    <mat-form-field
    class="form__field"
  >
    <mat-label>Email</mat-label>
      <input
        type="text"
        matInput
        placeholder="srgak"
        formControlName="email"
        [inputTransliteration]="lettersEnToRu"
      >
      <mat-error 
        *ngIf="email.hasError('required')"
      >
        {{email.errors?.['required']}}
      </mat-error>
      <mat-error
        *ngIf="form.get('email')?.hasError('email')"
      >
        {{email.errors?.['email']}}
      </mat-error>
    </mat-form-field>
    <mat-form-field
      class="form__field"
    >
      <mat-label>Пароль</mat-label>
      <input
        matInput
        placeholder="На горшке сидел король"
        formControlName="password"
        showPassword
      >
      <mat-error 
        *ngIf="password.hasError('required')"
      >
        {{password.errors?.['required']}}
      </mat-error>
    </mat-form-field>
    <div class="form__submit">
      <button
        class="button button-active"
        type="submit"
      >Продолжить</button>
      <button
        class="button"
        type="button"
        (click)="modal.openModal('auth')"
      >
        Не могу войти
      </button>
    </div>
  </div>
</form>