<div
  class="modal"
  >
  <ng-template #outer>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nesciunt delectus corrupti tenetur voluptatibus facilis et quidem reiciendis animi minus soluta, iusto aliquam ea placeat qui. Nostrum asperiores veniam iusto eaque!
  </ng-template>
  <button
      class="modal__close"
      type="button"
      (click)="close()"
    >
      <svg fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="#FEFFFF">
        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
      </svg>  
    </button>
</div>