<p>Информация о классе</p>
<div
  class="form"
  [formGroup]="form"
>
  <div class="form__wrapper">
    <mat-form-field
      class="form__field"
    >
      <mat-label>Номер</mat-label>
      <input 
        type="text"
        matInput
        formControlName="number"
      >
      <mat-error
        *ngIf="number.hasError('required')"
      >
        {{number.errors?.['required']}}
      </mat-error>
    </mat-form-field>
    <mat-form-field
      class="form__field"
    >
      <mat-label>Буква</mat-label>
      <input 
        type="text"
        matInput
        formControlName="letter"
      >
      <mat-error
        *ngIf="letter.hasError('required')"
      >
        {{letter.errors?.['required']}}
      </mat-error>
    </mat-form-field>
  </div>
</div>