<div 
  class="form__wrapper"
  [formGroup]="form"  
>
  <mat-form-field class="form__field">
    <mat-label>Предмет</mat-label>
    <mat-select formControlName="name">
      <mat-option
        *ngFor="let item of lessonsData.list"
        [value]="item.value"
      >
        {{item.name}}
      </mat-option>
    </mat-select>
    <mat-error
      *ngIf="name.hasError('required')"
    >
      {{name.errors?.['required']}}
    </mat-error>
  </mat-form-field>
  <mat-form-field class="form__field">
    <mat-label>Учитель</mat-label>
    <mat-select formControlName="teacher">
      <mat-option
        *ngFor="let item of teachers"
        [value]="item"
      >
        {{item}}
      </mat-option>
    </mat-select>
    <mat-error
      *ngIf="teacher.hasError('required')"
    >
      {{teacher.errors?.['required']}}
    </mat-error>
  </mat-form-field>
</div>