/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, body { height: 100%; }
  body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    @apply
      bg-active-2
      text-active-4;
  }
}

.title {
  &-page {
    @apply
      text-banner-title
      mb-10;
  }
}

.form {
  @apply
    grid
    gap-20
    grid-cols-12
    border
    rounded
    border-active-1
    p-20;
  &__field {
    @apply  
      col-span-6;
  }
  &__submit {
    @apply
      col-span-12
      flex
      justify-between;
  }
  &__error {
    @apply
      col-span-12;
  }
  &__sub {
    @apply
      col-span-12;
  }
}

.tooltip {
  @apply
    fixed
    border
    rounded-10
    border-active-3
    bg-active-2
    p-10
    text-14;
}

@screen mobile {
  .title {
    &-page {
      @apply
        mobile_text-24;
    }
  }
  .form {
    @apply
      gap-x-0;
    &__field {
      @apply
        mobile_col-span-12;
    }
    &__submit {
      @apply
        flex-col;
    }
  }
}

@layer components {
  .container {
    max-width: 1200px;
  }
}